<template>
    <div class="container">
        <list></list>

    </div>
</template>

<script>
    export default {
        mounted() {
            console.log("hello");
        },
        data(){
            return{
                name: 'Siim ',
                lastname: 'Mess',
            }
        },
        computed:{
            fullname(){
                return this.name + this.lastname;
            }
        }
    }
</script>
<style>

</style>
